@media screen and ( max-width:1090px) , ( max-height:600px){

  #artist{
    width:92%;
  }
  #desc {
    position: relative;
    left:0;
    
  }
  #songs-of-artist{
    width:92%;
  }
}


@media screen and ( max-width:400px) , ( max-height:400px){
  #artist-info{
    width: 92%;
    height: 33vh;
  }
 #desc{
   font-size: 1vh;
 }

 #artist img{
   margin-left: 8vw;
   margin-top: 2vh;
   height:60vw;
   width: 60vw;
 }

 #artist{
   margin-left: 5vw;
   display: block;
 }

 #songs-of-artist{
   margin-top:25vh;
 }

}


@media screen and ( max-height:400px){
  #artist-info h5{
    display: none;
    font-size: 0px;
  }
}

@media screen and ( max-height:300px) and (max-width:200px){
  #play-all-button{
    display: none;
  }

}