@media screen and ( max-width:1090px) , ( max-height:600px){
  /* Search bar ! making its hieght 0 */
  #search-bar-container,#search-bar{
    /* height:0px;
    width: 0px; */
    display: none;
  }
  #search-icon,#microphone-icon{
    display: none;
  }
  #aside{
    display: none;
    width: 0px;
    height: 0px;
  }

  #aside-info #Header,#queue-data-list select{
    display: none;
  }


  /* -------------------------Popular Artist Section ----------------*/
  #Popular-Artist-conatiner, .music-themes, #music-type-container, #Latest-Hindi-conatiner, #Latest-English-conatiner{
    width:92%;
  }
  #music-type-container img{
    margin-left: 2vw;
    width:26.5vw;
    height:17vw;

  }

}


@media screen and ( max-height:1200px){
  .song-title,{
    font-size:1vh
  }

  .singer-name{
    font-size: 0.6vh;
  }
  
}

@media screen and ( max-height:1100px){
  
  .heart-icon{
    right:8%;
  }
}



/* -------------Resposive desing for 600 X and above------- */
@media screen and ( max-width:700px) {

  #bell-icon{
    display: none;
  }

  #Ninja-Studio-text{
    display: inline;
  }


  /* -------for bottom music control player--------- */
    #volume-buttom-container, #songs-info-container{
      display: none;
    }

    #player-button-container{
      width:100%;
    }
    #player-button-container i{
      font-size:3.5vw;
    }
}


  /* -------------Resposive desing for 600 X 600------- */
  /* If window size will be less than 600 X 600 then only controls will be visible */
@media screen and ( max-width:600px) and (max-height:600px){

  #volume-buttom-container, #songs-info-container{
    display: none;
  }

  #player-button-container{
    width:100%;
  }
  #player-button-container i{
    font-size:3vw;
  }
}

